.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #343A40;
  padding: 8px 16px;
}

.navbar__header {
  display: flex;
  justify-content: flex-start;
}

.navbar__header > h3 {
  color: #ffffff;
}

.navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__link > h5 {
  margin-right: 15px;
}

.text_link {
  text-decoration: none;
  color: #ffffff;
}

.text_link:hover {
  color: #98a1a1;
}
