.process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.process__table {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  border-collapse: collapse;
  width: 100%;
}

.process__table > table {
  background-color: #537ea1;
  border: 1px solid #343A40;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 5px 10px 10px #343A40;
}

.process__table > table > thead > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #343A40;
  color: white;
}

.process__table > table > tr > th {
  border: 1px solid #ddd;
  padding: 8px;
}

.process__table > table > tr > td {
  border: 1px solid #ddd;
  padding: 8px;
}

.process__table > table > tr:nth-child(even) {
  background-color: #f2f2f2;
}

.process__table > table > tr:hover {
  background-color: #ddd;
}
